.menu-navegacao {
    display: flex;          
    justify-content: flex-start; /* Traz os botões para a ESQUERDA */
    
    /* Aplica o mesmo espaço que a tela de listagem tem nas laterais */
    padding: 2rem 2rem 0 2rem;   
    
}

/* Garante que os botões tenham uma largura mínima parecida */
.menu-navegacao p-button {
    min-width: 90px;
}